<!DOCTYPE html>
<html>
<h1> New user </h1>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li> <strong> {{ message }}</strong></li>}
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
</div>

<form action="{{ url_for('signup') }}" method = 'psot'>
	Name:<br>
	<input type="text" name="name"><br>
	Email Address:<br>
	<input type="text" name="email"><br>
	Password:<br>
	<input type="password" name="password">
		<input type="submit" value="Creat Account">
</form>
<html>